@page "/leagues/add"
@model Index

@{
    ViewData["Title"] = "Neue Liga";
}

<div class="text-center">
    <h1 class="display-4">Ligen</h1>
    <form method="post">
        <div class="form-group">
            <label for="title">Titel</label>
            <input asp-for="Title" type="text" class="form-control" id="title" aria-describedby="Title of league" placeholder="Titel eingeben">
        </div>
        <div class="form-group">
            <label asp-for="TeamCount">Wie viele Mannschaften</label>
            <input asp-for="TeamCount" type="number" class="form-control" id="teamCount" aria-describedby="How many teams" placeholder="Anzahl eingeben eingeben">
        </div>
        
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>