@page "/leagues/{leagueId}/display"
@model RazorApp.Pages.League.Display

<div class="text-center">
    <h1 class="display-4">Ligen - @Model.Title</h1>
    @{
        ViewData[Consts.LeagueSection] = @Consts.LeagueSectionDisplay;
    }
    <partial name="_PartialLeagueHeader" view-data="ViewData"/>
    <div class="container">
        <div class="row">
            <div class="col">@Model.Title</div>
        </div>
    </div>
</div>