@page
@model RazorApp.Pages.League.Import

<h1 class="display-4">Import l98-Datei</h1>
<form method="post" enctype="multipart/form-data">>
    <div class="form-group">
        <label for="title">Titel</label>
        <input type="file" class="form-control" id="file" aria-describedby="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>