@page
@model RazorApp.Pages.League.Load

<div class="text-center">
    <h1 class="display-4">Ligen</h1>
    <div class="row">
        <div class="col-md-4">
            <p>Titel</p>
        </div>
    </div>
    @foreach (var league in Model.Leagues)
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <p>@Html.DisplayFor(modelItem => league.Title)</p>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
                <a asp-page="/League/Overview" asp-route-leagueId="@league.Id">laden</a>
            </div>
        </div>
    }
</div>