@page
@model RazorApp.Pages.Leagues

@{
    ViewData["Title"] = "Ligen";
}

<div class="text-center">
    <h1 class="display-4">Ligen</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/League/Add">Liga erstellen</a></p>
    <p><a class="nav-link text-dark" asp-page="/League/Load">Liga laden</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-page="/League/Import">Liga importieren</a></p>
</div>